*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 p{
    text-align: center;
    font-weight: 600;
    margin-top: 3vh;
}
#page-something{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: #111;
    padding: 0.5vw;
}
#page-something h4{
    font-size: 1vw;
    font-weight: 300;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50px;
}
#page-something h4:nth-last-child(2){
    border: none;
}
nav{
    position: absolute;
    color: white;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    height: 12vh;
    z-index: 10;
}
.nav-part2{
    display: flex;
    gap: 1vw;
    align-items: flex-start;
    padding: 1vh;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    margin-left: 2vw;
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.6vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
   /* background-color: red;*/
   /* opacity: 0;*/
   display: none;
   overflow: hidden;
}
.nav-part2 h5 span{
    margin-left: 2vw;
    font-size: 0.73vw;
    font-weight: 600;
    text-transform:capitalize;
    transform: translateY(25px);
    display: inline-block;
}
#nav-bottom{
    /*background-color: antiquewhite;*/
    height: 0%;
    position: absolute;
    width: 79%;
    bottom: 0%;
    /*border-bottom: 1px solid #dadada;*/
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*gap: 2vw;*/
    padding: 2vw 13vw;
    padding-left: 18.5vw;
   /* padding-top: 3vw;*/
   
}
.bottom-div{
    /*background-color:red;*/
    margin-top: 2vw;
}
.bottom-div h5{
    margin-bottom: 0.4vw;
    overflow: hidden;
}
.bottom-div h5 span{
    font-size: 0.8vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
}
nav:hover #nav-bottom{
    height: 150%;
    bottom:-150%;
    background-color: #111;
}
nav button{
    padding: 0.5vw 1vw;
    background-color:rgb(27, 239, 16);
    border: 1px solid rgb(10, 10, 10);
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
}
nav button:hover{
    background-color: #0BA34E;
    color: white;
}
#nav-bottom2{
    width: 79%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
}
#moving-div{
    margin-top: 5vh;
    position: absolute;
    bottom: 3%;
    display: flex;
    background-color: #111;
    width: 44%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;
}
#moving-div .move{
    display: flex;
    align-items: center;
    gap: 2vw;
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 1.5vw;
    display: flex;
    margin: 0 1.2vw;
    gap: 2vw;
    /*animation: move 10s linear infinite;*/
}
@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left, #111, transparent);
}
#blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right, transparent, #111);
}
#page2{
    height: 100vh;
    width: 100%;
    background:#111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}
#page2-left{
    height: 100%;
    width: 40%;
    /*background-color: #333;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    /*padding-left: 3vw;*/
    padding: 3vw 0;

}
#page2-left p{
    font-size: 0.9vw;
    font-weight: 500;
}
#page2-left h5{
    font-size: 1.2vw;
    font-weight: 300;
    width: 70%;
}
#page2-right{
    height: 100%;
    width: 50%;
    /*background-color: #333;*/
    padding-left: 7vw;
   /* border: 1px solid #333;*/
}
.right-elem{
    color: white;
    position: relative;
    padding-top: 1.5vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
/*.right-elem h2:nth-last-child(3){
  border-bottom: none;
}*/
.right-elem h2{
    font-size: 1.4vw;
    font-weight: 300;
    line-height: 2vw;
    width: 80%;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}
#page3{
    height:55vw;
    width: 99vw;
    background-color: #111;
    position: relative;
    background-image: url(https://beconnected.esafety.gov.au/pluginfile.php/99437/mod_resource/content/2/what-is-ai%20%281%29.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3-center{
    background-color: red;
    
}

.page3-center h5{
    /*background-color: red;*/
    font-size: 2vw;
    border-radius: 50px;
    padding: 10px 20px;

}
